extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Mike Olthoff

        p.lead.text-light
          | Founder & CEO of Coincards.com

        .portfolio-bio
          p
            | I'm learning JS to hopefully build some apps.  
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Bitcoin
          li Gift Cards
          li Wordpress
          li Javascript (Learning)
        h6 Contact Info

        ul
          li 1-855-600-5084
          li 
            a(href="mailto:mike@coincards.com") mike@coincards.com 

        a.button.expanded#linkedin(href='https://www.linkedin.com/in/olthoff/' target="blank") LinkedIn
        a.button.expanded#github(href='https://github.com/astupidmoose' target="blank") GitHub
        a.button.expanded#twitter(href='https://twitter.com/olthoff' target="blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  